<h1>Courses detail</h1>
<div>
    <h2>{{course.name}}</h2>
    <p>{{course.description}}</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>